[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=/usr/bin/tuner
StartupWMClass=tuner
Icon=pkg_tuner
X-Window-Icon=tn-bookmarks-link
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false
Name=Tuner
